files:
  "/etc/ssl/certs/cross-stitch.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEWDCCA/2gAwIBAgIQBA1eNrCUo0S82CvGD9rviDAKBggqhkjOPQQDAjA9MQsw
      CQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMR0wGwYDVQQDExRBbWF6b24gRUNE
      U0EgMjU2IE0wMTAeFw0yNTA5MjUwMDAwMDBaFw0yNjEwMjQyMzU5NTlaMB4xHDAa
      BgNVBAMTE2Nyb3NzLXN0aXRjaC5kZXNpZ24wWTATBgcqhkjOPQIBBggqhkjOPQMB
      BwNCAARPEFKgMYqCtDch/bS5rp/ffRVP+aNNV89T8XiYgFp9cm3YpT53lJOu36Tg
      WGpWwP4vqEt0GS+sposL/ktGqrYMo4IC/DCCAvgwHwYDVR0jBBgwFoAUT1n8vAYW
      KL+iyNsI+88TJLppQlwwHQYDVR0OBBYEFNAy37i9iYnyfApkghGJ9w9+SKQIMDcG
      A1UdEQQwMC6CE2Nyb3NzLXN0aXRjaC5kZXNpZ26CF3d3dy5jcm9zcy1zdGl0Y2gu
      ZGVzaWduMBMGA1UdIAQMMAowCAYGZ4EMAQIBMA4GA1UdDwEB/wQEAwIDiDATBgNV
      HSUEDDAKBggrBgEFBQcDATA7BgNVHR8ENDAyMDCgLqAshipodHRwOi8vY3JsLmUy
      bTAxLmFtYXpvbnRydXN0LmNvbS9lMm0wMS5jcmwwdQYIKwYBBQUHAQEEaTBnMC0G
      CCsGAQUFBzABhiFodHRwOi8vb2NzcC5lMm0wMS5hbWF6b250cnVzdC5jb20wNgYI
      KwYBBQUHMAKGKmh0dHA6Ly9jcnQuZTJtMDEuYW1hem9udHJ1c3QuY29tL2UybTAx
      LmNlcjAMBgNVHRMBAf8EAjAAMIIBfwYKKwYBBAHWeQIEAgSCAW8EggFrAWkAdgDX
      bX0Q0af1d8LH6V/XAL/5gskzWmXh0LMBcxfAyMVpdwAAAZmB2HasAAAEAwBHMEUC
      IE2DDNaQWDUZvMx9nHOHjymv0YXPdVwVWljqUMpFU8flAiEAub/ePH8XRK9KRCMd
      llzgMKNWFxv+sVYZ0P9+CbXuL+YAdgDCMX5XRRmjRe5/ON6ykEHrx8IhWiK/f9W1
      rXaa2Q5SzQAAAZmB2HbdAAAEAwBHMEUCIQCrDB3GNR5e3U2t3j3wPeASvvdAAIyn
      A+tzSRPhOvvAZwIgZQcQRqx7SVHpWtgZkGqJDTz+7bOxmd7C67BpcXg5MsAAdwCU
      TkOH+uzB74HzGSQmqBhlAcfTXzgCAT9yZ31VNy4Z2AAAAZmB2HbwAAAEAwBIMEYC
      IQDSctp+hJi1wMr6MRdlcWxTDA9dU41uVhLUO45XsGFFEwIhAJIqj/MTr+pMm6S0
      I/OWRBcVFpZpqj93HXe6EBPjCIYTMAoGCCqGSM49BAMCA0kAMEYCIQCSHor3CfY/
      0S1SPHvRnAP2s+qLduO1j/2lQ7x2cJ49GgIhAPfcMxX6b3Z3RAsgUlBh3d9qAV9y
      jsDHIF7OyJaBTlmI
      -----END CERTIFICATE-----
  "/etc/ssl/private/cross-stitch.key":
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      [Paste decrypted private key here after running OpenSSL]
      -----END PRIVATE KEY-----
  "/etc/ssl/certs/cross-stitch-chain.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC0zCCAnmgAwIBAgITB3MSZoTVd8D8+NOjQr6ob5T8jzAKBggqhkjOPQQDAjA5
      MQswCQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMRkwFwYDVQQDExBBbWF6b24g
      Um9vdCBDQSAzMB4XDTIyMDgyMzIyMzE0NloXDTMwMDgyMzIyMzE0NlowPTELMAkG
      A1UEBhMCVVMxDzANBgNVBAoTBkFtYXpvbjEdMBsGA1UEAxMUQW1hem9uIEVDRFNB
      IDI1NiBNMDEwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAT80w+2RwNHzyXmVUM/
      OUKBZpJkTzHyCKDl4sBrUfjzVjot/lNba9kYzMKSHYv95CUDoMaF2h2KAqx65uLQ
      Y8ago4IBWjCCAVYwEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYw
      HQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB0GA1UdDgQWBBRPWfy8BhYo
      v6LI2wj7zxMkumlCXDAfBgNVHSMEGDAWgBSrttvXBp43rDCGB5Fwx5zEGbF4wDB7
      BggrBgEFBQcBAQRvMG0wLwYIKwYBBQUHMAGGI2h0dHA6Ly9vY3NwLnJvb3RjYTMu
      YW1hem9udHJ1c3QuY29tMDoGCCsGAQUFBzAChi5odHRwOi8vY3J0LnJvb3RjYTMu
      YW1hem9udHJ1c3QuY29tL3Jvb3RjYTMuY2VyMD8GA1UdHwQ4MDYwNKAyoDCGLmh0
      dHA6Ly9jcmwucm9vdGNhMy5hbWF6b250cnVzdC5jb20vcm9vdGNhMy5jcmwwEwYD
      VR0gBAwwCjAIBgZngQwBAgEwCgYIKoZIzj0EAwIDSAAwRQIhALRfxq3SQIhj5xA4
      S5UAY/KlKqayZDpnbBdCDH8Kqmf/AiAUVZddALefnqRe+ifxN2FUp461LL6/cgVM
      EH3Ty27f1Q==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIDxzCCAq+gAwIBAgITBn+USjDPzE90tfUwblTTt74KwzANBgkqhkiG9w0BAQsF
      ADCBmDELMAkGA1UEBhMCVVMxEDAOBgNVBAgTB0FyaXpvbmExEzARBgNVBAcTClNj
      b3R0c2RhbGUxJTAjBgNVBAoTHFN0YXJmaWVsZCBUZWNobm9sb2dpZXMsIEluYy4x
      OzA5BgNVBAMTMlN0YXJmaWVsZCBTZXJ2aWNlcyBSb290IENlcnRpZmljYXRlIEF1
      dGhvcml0eSAtIEcyMB4XDTE1MDUyNTEyMDAwMFoXDTM3MTIzMTAxMDAwMFowOTEL
      MAkGA1UEBhMCVVMxDzANBgNVBAoTBkFtYXpvbjEZMBcGA1UEAxMQQW1hem9uIFJv
      b3QgQ0EgMzBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABCmXp8ZBf8ANm+gBG1bG
      8lKlui2yEujSLtf6ycXYqm0fc4E7O5hrOXwzpcVOho6AF2hiRVd9RFgdszflZwjr
      Zt6jggExMIIBLTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBhjAdBgNV
      HQ4EFgQUq7bb1waeN6wwhgeRcMecxBmxeMAwHwYDVR0jBBgwFoAUnF8A36oB1zAr
      OIiiuG1KnPIRkYMweAYIKwYBBQUHAQEEbDBqMC4GCCsGAQUFBzABhiJodHRwOi8v
      b2NzcC5yb290ZzIuYW1hem9udHJ1c3QuY29tMDgGCCsGAQUFBzAChi5odHRwOi8v
      Y3J0LnJvb3RnMi5hbWF6b250cnVzdC5jb20vcm9vdGcyLmNlcjA9BgNVHR8ENjA0
      MDKgMKAuhixodHRwOi8vY3JsLnJvb3RnMi5hbWF6b250cnVzdC5jb20vcm9vdGcy
      LmNybDARBgNVHSAECjAIMAYGBFUdIAAwDQYJKoZIhvcNAQELBQADggEBAG5Z+hfC
      ycAuzqKJ4ClKK5VZUqjH4jYSzu3UVOLvHzoYk0rIVqFjjBJwa/L5MreP219CIdIX
      di3s9at8ZZR+tKsD4T02ZqO/43FQqnSkzF/G+OxYo3malxhuT9j7bNiA9WkCuqVV
      bUncQt79aEjDKht7viKQnoybiHB6dtWAXMNObcCviQMqTcoV+sQOpKJMvQanxUk+
      fKQLGKlkpu9zKNr2kWdx874JVpYhDCUzW2RX9TtQ04VT6J0xTEew55OJj02jNxHu
      Gijg0YLZtWLNWEXkNDkVpZozXbhuTM6GJKhwLn2rmgRgtFTWUDbeq3YE/7NHu+3a
      LOL51JEnEI+4hac=
      -----END CERTIFICATE-----
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name cross-stitch.design www.cross-stitch.design;
          ssl_certificate /etc/ssl/certs/cross-stitch.crt;
          ssl_certificate_key /etc/ssl/private/cross-stitch.key;
          ssl_trusted_certificate /etc/ssl/certs/cross-stitch-chain.crt;
          location / {
              proxy_pass http://127.0.0.1:80;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
      server {
          listen 80;
          server_name cross-stitch.design www.cross-stitch.design;
          return 301 https://$host$request_uri;
      }
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        configSets:
          default:
            - config: configure_instance
        configure_instance:
          commands:
            01_restart_nginx:
              command: systemctl restart nginx